*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;
}
/* Les polices  */
@font-face {
    font-family:"Matura";
    src: url("fonts/MATURASC.TTF"); 


}
.btn-toggle-container{
    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
    display: none;

}
img , nav{
    z-index: 1;
}
button{
    cursor: pointer;
}

li:hover   {
    text-decoration: underline;
    cursor: pointer
}
.e , header , .navbar , .navbar ul {
    display: flex;
}
.img{
margin-top: -120px;}

header{
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}
p{
    color:#B9A896 ;
}
.navbar{
    width: 100%;
    justify-content: space-between;
}
.navbar .nav-link{
    font-size: 25px;
    margin-left: 125px;
    color: #B9A896;
}
.navbar button , button{
    
    width: 138px;
    height: 40px;
    background-color:#272624 ;
    color: #B9A896;
}

body{
    padding-left: 40px;
    padding-right: 40px;
    background-color:#272624 ;
}
main{
    position: relative;
}
.shape{
    border-radius: 10px;
    background: #272624;
    box-shadow: 0px 12px 37px 18px rgba(22, 22, 20, 0.44);

}
.one{
    
   width: 646px;
   display: flex;
   height:310px;
   z-index: 1;
   margin-top: -111px;
   margin-left: -23px;
 

}
.txt{
    position: absolute;
    top: 150px;
    left:100px;
    color: aliceblue;
    font-size: 50px;
    font-family:"Matura";

 

}
span{
    color: #615444;
}
.two{
    position: absolute;
    right: -35px;
    top: -2px;
    width: 287px;
    height: 158px;
    z-index: 0;

}
.three{
    width: 249.952px;
    height: 253.983px;
    transform: rotate(-90.236deg);
    flex-shrink: 0;
}
.liste-nav.active-menu{
    display: block;
}

/* Styles par défaut */
@media (max-width: 768px) {
    body {
        padding: 20px;
        background-repeat: no-repeat;
    }

    .btn-toggle-container{
        display: block;
    }

    .one,
    .two {
        position: static;
        width: 100%;
        height: auto;
    }
  
.e{
    font-size: 17px;
    position: relative;
    top: 120px;

}
.aos{
    display: none;
}
    header{
        display: flex;
        justify-content: space-between;
    }
    button{
        display: none;
    }
    .navbar ul {
        display: none;
    }
    .button{
        display:none;
    }
    .text-content {
        top: 20px;
        left: 20px;
    }
    .text-content p{
        font-size: 16px;
    }

    .title {
        font-size: 40px;
    }

    .text-content {
        width: 100%;
        height: auto;
        font-size: 12px;
    }

    .picture-layout {
        display: none;
    }
    .txt{

        position: relative;
        left: 10px;
    }
    .nav-link{
        top: 70px;
        position: relative;
        display: none;
    }
    .liste-nav{
        top: 70px;
        position: relative;
        display: none;
    }
    .liste-nav.active-menu{
        display: block;
    }
}
